.end-game-container{
    background-color: #ffffff;
    border: 3px solid black;
    display: none;
    text-align: center;
    width: 400px;
    margin: 0px auto;
    padding: 30px;
}

.main{
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    text-align: center;
    width: 400px;
    margin: 0px auto;
}

body{
    background-image: url(letras.png);
}

img{
    display: none;
}